@charset "UTF-8";
@import "mymixin";
@import "myvariable";
@import "index/_0Common";
@import "index/_1Header";
@import "index/_2Festival";
@import "index/_3HeaderNav";
@import "index/_4Ads";
@import "index/_5FstNews";
@import "index/_6TodayTop";
@import "index/_7ProductNav";
@import "index/_8Carousel";
@import "index/_9Stock";
@import "index/_10Luck";
@import "index/_11MidContents";
@import "index/_12FooterNav";
@import "index/_13FloatBox";

#pronav{
	border: none;
	overflow: visible;
}
#todayLuck{
	overflow: visible;
}
img[src=""] {
	opacity: 0;
}

.strong{
	font-weight: bold;
}



























































































